body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #0d47a1; /* Azul escuro */
    color: #fff; /* Texto branco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction:column;
}

#container {
    text-align: center;
}

#buttons {
    margin-top: 20px;
}

#buttons button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

#buttons button:hover {
    background-color: #218838;
}


#canvasContainer {
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-left: 150px;
    border: 1px solid #fff;
    background-color: #fff;
    
}

.description {
    margin-top: 20px;
    margin-left: 150px;
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    max-width: 400px;
}

.quiz-botao {
    background-color: orange;
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 2em;
    margin-top: 20px; 
}
